@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/* line 12, source/main.sass */
* {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 16, source/main.sass */
body {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center; }

/* line 23, source/main.sass */
.article {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  padding: 40px;
  width: 100%;
  max-width: 1200px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }
  /* line 36, source/main.sass */
  .article .header {
    position: relative;
    margin-bottom: 80px;
    font-family: "Quicksand", sans-serif; }
    /* line 40, source/main.sass */
    .article .header .title {
      display: inline;
      font-size: 40px;
      margin-right: 20px;
      font-weight: 400;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }
    /* line 46, source/main.sass */
    .article .header .subtitle {
      display: inline;
      font-size: 20px; }
  /* line 49, source/main.sass */
  .article .section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    width: 100%;
    margin-bottom: 60px; }
    /* line 54, source/main.sass */
    .article .section:last-child {
      margin-bottom: 0px; }
    /* line 56, source/main.sass */
    .article .section .li {
      margin-bottom: 10px; }
      /* line 58, source/main.sass */
      .article .section .li:last-child {
        margin-bottom: 0px; }
    /* line 60, source/main.sass */
    .article .section .h2 {
      margin: 0px;
      font-family: "Quicksand", sans-serif;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
      font-weight: 400;
      font-size: 30px; }
    /* line 66, source/main.sass */
    .article .section .pre {
      padding: 20px;
      background: #fcfcfc; }
      /* line 69, source/main.sass */
      .article .section .pre .code {
        font-family: Courier New, monospace;
        font-size: 16px; }
    /* line 72, source/main.sass */
    .article .section.split {
      position: relative;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      -ms-box-pack: start;
      box-pack: start; }
      @media (min-width: 1000px) {
        /* line 72, source/main.sass */
        .article .section.split {
          display: block;
          -webkit-box-orient: horizontal;
          -moz-box-orient: horizontal;
          -ms-box-orient: horizontal;
          box-orient: horizontal;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          -ms-box-pack: center;
          box-pack: center; }
          /* line 80, source/main.sass */
          .article .section.split .section {
            display: inline-block;
            vertical-align: top;
            width: 33.3%;
            margin-bottom: 0px; } }
