@import url(http://fonts.googleapis.com/css?family=Quicksand:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/* line 12, source/main.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 15, source/main.sass */
body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center; }

/* line 21, source/main.sass */
.article {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  padding: 40px;
  max-width: 1200px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }
  /* line 28, source/main.sass */
  .article .header {
    position: relative;
    margin-bottom: 80px;
    font-family: "Quicksand", sans-serif; }
    /* line 32, source/main.sass */
    .article .header .title {
      display: inline;
      font-size: 40px;
      font-weight: 700;
      margin-right: 20px; }
    /* line 37, source/main.sass */
    .article .header .subtitle {
      display: inline;
      font-size: 20px; }
  /* line 40, source/main.sass */
  .article .section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    margin-bottom: 60px; }
    /* line 44, source/main.sass */
    .article .section:last-child {
      margin-bottom: 0px; }
    /* line 46, source/main.sass */
    .article .section .li {
      margin-bottom: 10px; }
      /* line 48, source/main.sass */
      .article .section .li:last-child {
        margin-bottom: 0px; }
    /* line 50, source/main.sass */
    .article .section .h2 {
      margin: 0px;
      font-family: "Quicksand", sans-serif;
      font-size: 30px; }
    /* line 54, source/main.sass */
    .article .section .pre {
      padding: 20px;
      background: #fcfcfc; }
      /* line 57, source/main.sass */
      .article .section .pre .code {
        font-family: Courier New, monospace;
        font-size: 16px; }
    /* line 60, source/main.sass */
    .article .section.split {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-pack: start;
      -moz-box-pack: start;
      -ms-box-pack: start;
      box-pack: start; }
      @media (min-width: 1000px) {
        /* line 60, source/main.sass */
        .article .section.split {
          -webkit-box-orient: horizontal;
          -moz-box-orient: horizontal;
          -ms-box-orient: horizontal;
          box-orient: horizontal;
          -webkit-box-pack: center;
          -moz-box-pack: center;
          -ms-box-pack: center;
          box-pack: center; }
          /* line 66, source/main.sass */
          .article .section.split .section {
            margin-bottom: 0px; } }
      /* line 68, source/main.sass */
      .article .section.split .section {
        width: 100%;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        box-flex: 1; }
