@import "compass"
@import url(http://fonts.googleapis.com/css?family=Quicksand:300)
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300)

$headerFontFamily: 'Quicksand', sans-serif
$readableFontFamily: 'Open Sans', sans-serif
$readableFontSize: 16px
$codeFontFamily: Courier New, monospace
$codeFontSize: 16px
$codeBackground: #FCFCFC

*
  @include box-sizing(border-box)

body
  @include display-box
  @include box-orient(vertical)
  @include box-align(center)


.article
  @include display-box
  @include box-orient(vertical)
  padding: 40px
  max-width: 1200px
  font-family: $readableFontFamily
  font-size: $readableFontSize
  .header
    position: relative
    margin-bottom: 80px
    font-family: $headerFontFamily
    .title
      display: inline
      font-size: 40px
      font-weight: 700
      margin-right: 20px
    .subtitle
      display: inline
      font-size: 20px
  .section
    @include display-box
    @include box-orient(vertical)
    margin-bottom: 60px
    &:last-child 
      margin-bottom: 0px
    .li
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0px
    .h2
      margin: 0px
      font-family: $headerFontFamily
      font-size: 30px
    .pre
      padding: 20px
      background: $codeBackground
      .code
        font-family: $codeFontFamily
        font-size: $codeFontSize
    &.split
      @include box-orient(vertical)
      @include box-pack(start)
      @media (min-width: 1000px)
        @include box-orient(horizontal)
        @include box-pack(center)
        .section
          margin-bottom: 0px
      .section
        width: 100%
        @include box-flex(1)
