@import "compass"
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400)
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300)

$headerFontFamily: 'Quicksand', sans-serif
$readableFontFamily: 'Open Sans', sans-serif
$readableFontSize: 16px
$codeFontFamily: Courier New, monospace
$codeFontSize: 16px
$codeBackground: #FCFCFC

*
  position: relative
  @include box-sizing(border-box)

body
  width: 100%
  @include display-box
  @include box-orient(vertical)
  @include box-align(center)


.article
  position: absolute
  left: 0px
  right: 0px
  margin-left: auto
  margin-right: auto
  @include display-box
  @include box-orient(vertical)
  padding: 40px
  width: 100%
  max-width: 1200px
  font-family: $readableFontFamily
  font-size: $readableFontSize
  .header
    position: relative
    margin-bottom: 80px
    font-family: $headerFontFamily
    .title
      display: inline
      font-size: 40px
      margin-right: 20px
      font-weight: 400
    .subtitle
      display: inline
      font-size: 20px
  .section
    @include display-box
    @include box-orient(vertical)
    width: 100%
    margin-bottom: 60px
    &:last-child 
      margin-bottom: 0px
    .li
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0px
    .h2
      margin: 0px
      font-family: $headerFontFamily
      font-weight: 400
      font-size: 30px
    .pre
      padding: 20px
      background: $codeBackground
      .code
        font-family: $codeFontFamily
        font-size: $codeFontSize
    &.split
      position: relative
      @include box-orient(vertical)
      @include box-pack(start)
      @media (min-width: 1000px)
        display: block
        @include box-orient(horizontal)
        @include box-pack(center)
        .section
          display: inline-block
          vertical-align: top
          width: 33.3%
          margin-bottom: 0px
      
